<form role="form" method="{{ form.vars.method }}" action="{{ path('request') }}" name="{{ form.vars.full_name }}" class="js-form transparent">
    <div class="alert-danger js-error">
        {{ form_errors(form) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="js-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="js-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <div class="js-error">
            {{ form_errors(form.email) }}
        </div>
    </div>
    {{ form_widget(form.subject) }}
    {{ form_rest(form) }}
    <div class="controls">
        <button type="submit" class="btn navy-bg">
            Submit
        </button>
        <button type="reset" class="btn-link navy">
            Cancel
        </button>
    </div>
</form>
