{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    <title>ORO Applications Support</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid content">
        <nav class="navbar navbar-inverse navbar-fixed-top bottom-bound" role="navigation">
            <div class="navbar-header home">
                <a class="navbar-brand" href="{{ path('homepage') }}"><b>OroCRM</b> Support</a>
            </div>
        </nav>
        <div class="row main">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="jumbotron well">
                        <h2>
                            <b>OroCRM</b> Support
                        </h2>
                        <p>
                            There are various sales and marketing applications to help you cater to your customers' needs in the best way possible.
                            If your choice of tools is based on the <b>OroPlatform</b> then our team of experts can help you:
                        </p>
                        <div class="sub-content">
                            <div class="listing">
                                {% include 'serviceslist.html.twig' %}
                            </div>
                            <div class="toggled-content js-temp js-shown">
                                <p>
                                    <b>OroCRM</b>'s flexibile architecture allows it to adhere to a wide variety of business needs but there is always room to improve.
                                    For example, you might want to control which entity records appear in your data grids depending on who is viewing them, and when, and why.
                                    No problem! We will extend your ACL with a configurable schema of access rules to let you regulate the permissions on a per record/per user basis.
                                    You decide when to show a record and to whom, and which actions on this record to expose.
                                    Once you are done you might decide to put some power back in the hands of your sales team.
                                    Fine by us! We will improve their grid filters to use advanced search with suggestions and give them the ability to edit the filtered records in bulk.
                                    If they need a different reporting tool, customized segmentation of entities or means to contact customers and operate carts and orders directly from your CRM we'll give them that, too.
                                    Let us also improve the integrations of your CRM with essential applications like MS Outlook, MS Exchange, Mailchimp, Magento, Zendesk and others and make it more secure and memory efficient, so that your administrators don't complain.
                                    We will get you rid of inconsistent behaviour and errors, tune and optimize your CRM, scale it up or down, in or out and we will add new features to it. Just let us know what you need and we will try to help you ASAP.
                                </p>
                                <button class="btn navy-bg">Get in touch with us now</button>
                            </div>
                            <div class="js-form-container">
                                {{ render(controller('AppBundle:Default:form')) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="row tint">
            <div class="container text-center">
                    <p class="center-block footer-text">
                        © {{ "now"|date("Y") }} OroCRM Support. All rights reserved.
                    </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script crossorigin="anonymous" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script crossorigin="anonymous" src="{{ asset('js/underscore-min.js') }}"></script>
    <script crossorigin="anonymous" src="{{ asset('js/dynamics.min.js') }}"></script>
    <script crossorigin="anonymous" src="{{ asset('js/formHandler.js') }}"></script>
{% endblock %}